root = true

[*]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.css]
indent_style = tab
trim_trailing_whitespace = true
indent_size = 4

[main.js]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2

[index.html]
indent_style = space
trim_trailing_whitespace = true
indent_size = 2

[package.json]
indent_style = space
indent_size = 2
